torch==1.11.0
speedtest-cli
tensorboard==2.9.0
https://github.com/SeanNaren/hivemind/archive/refs/heads/macos.zip
https://github.com/PyTorchLightning/pytorch-lightning/archive/refs/heads/feat/collaborative.zip
transformers
datasets
